:root {
  --main-color: #f8f9fa;
  --secondary-color: #343a40;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body{
  background-color: var(--secondary-color);
  color: var(--main-color);
  margin:0;
  padding:0;
} 

.wrapper {
  min-height: calc(100vh - 50px);
}
/* Page Header & Search Bar */


#searchBarContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}
@media all and (max-width: 600px) {  
  #searchBarContainer {  
    flex-direction: column;
  }  
}
#mainHeader{
  text-align: left;
  font-size: 30px;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 0px;
  color: red;
} 
#searchBar{
  display: flex;
  text-align: right;
  min-height:100%;
  position: relative;
  justify-content: flex-start;
}
#searchIcon{
  position: absolute; 
  font-size: 30px;
  left: 5px;
  top: 10px;
  color: black; 
}
input[type="text"]
{
    font-size:20px;
}
.searchInput{
  height: 50px;
  width: 320px;
  border-style: none;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 80px;
  background-color: var(--main-color);
}
#searchButton{
  position: absolute; 
  border-style: none;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  width: 80px;
  margin-left: 240px;
  background-color: red;
}
/* Page Header & Search Bar */


/* Movie Search Results */
#searchResultsContainer {
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  margin-bottom: 100px;
  border-radius: 50px;
  font-family: 'Open Sans', sans-serif;
}
.movieCard{ transition: all .2s ease-in-out; }
.movieCard:hover{ transform: scale(1.1);}
.movieImg {
  border-radius: 10px;
  height: 300px;
  width: 230px;
  margin: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  transition: .3s;
}
.movieImg:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 25px var(--main-color);
}
/* Movie Search Results */


/* Movie Details Styling */
#movieDetailsContainer{
  display: none;
  margin: 1rem;
  padding: 1rem;
  border-style: solid;
  border-width: 3px;
  border-color: var(---secondary-color); 
  background-color: rgb(75, 75, 75);
  font-family: 'Open Sans', sans-serif;
}
#detailsImg {
  height: auto;
  max-height: 350px;
  max-width: 30%;
  border-style: solid;
  border-width: 3px;
  border-color: var(--secondary-color);
}
#detailsText{
  color: var(--secondary-color);
  padding: 20px;
  font-size: 22px;
  word-break: break-word;
}
/* Movie Details Styling */

/* Footer Styling */
#FOOTER{
  display: inline-block;
  bottom: 0;
  width: 100%;
  height: 208px;
  z-index: 999;
  font-family: 'Open Sans', sans-serif;
 }

 .footer-icon{
  transition: 0.3s;
 }
 .footer-icon:hover{
  transform: scale(1.2);
  color: black;
}